.__card {
	margin-bottom: 20px;
}
.__card-header {
	padding-top: 10px;
	padding-bottom: 10px;
}
.__avatar-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.__avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0;
	cursor: pointer;
	transition: all 0.3s ease;
	&:first-child {
		margin-left: 0;
	}
	&.__selected,
	&:hover,
	&:focus {
		border-color: #ff4081;
		transform: scale(1.1);
		.__avatar-delete {
			visibility: visible;
			opacity: 1;
		}
		.__avatar-cover {
			background-color: #ff4081;
		}
	}
	.__avatar-cover {
		width: 50px;
		height: 50px;
		display: block;
		overflow: hidden;
		border-radius: 50%;
		transition: all 0.3s ease;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.__avatar-delete {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0px;
		right: 0px;
		background-color: #ff4081;
		color: #fff;
		border: none;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		transition: all 0.3s ease;
		visibility: hidden;
		opacity: 0;
		z-index: 10;
		transition: all 0.3s ease;
		overflow: hidden;
		&:hover {
			background-color: #fff;
			color: #ff4081;
		}
		.icon-delete {
			font-size: 12px;
			line-height: 24px;
			vertical-align: middle;
		}
	}
}

.__add-client {
	position: absolute;
	right: 15px;
	bottom: -15px;
	z-index: 15;
}
